
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin-left: 300px;">

        <h1>Forms upload</h1>
        <div >
            <form action="/src/routes/blogs.js" method="post" enctype="multipart/form-data">
            <div><input type="text" name="title" placeholder="title"></div>
            <br>
            <div><input type="file" name="blogimage" ></div>
            <br>
            <button type="submit">Upload</button>
            </form>
        </div>
        </div>
</body>

</html>
<script>
    function Upload(){
    console.log("Uploaded")
}
</script>
    
    


