
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin-left: 300px;">

        <h1>Forms upload</h1>
        <div >
            <form id="form">
            <!-- <div><input id="title" type="text" name="title" placeholder="title"></div> -->
            <br>
            <div><input id="img" type="file" name="blogimage" ></div>
            <br>
            <button type="submit" >Upload</button>
            </form>
        </div>
        </div>
</body>

</html>
<script>
//   let form = document.getElementById("form").addEventListener("submit",upload)
//   let data = {
           
//            pics:document.getElementById("img").value 
//        }
//    async function upload(e){
      
//        console.log(data.pics)
//         e.preventDefault()
//        const res = await fetch("http://localhost:9001/uploads",{

    
//            method:"POST",
        
//            headers: {
//       'Content-Type': 'application/json'
//       // 'Content-Type': 'application/x-www-form-urlencoded',
//     },
//     body:JSON.stringify(data)
//        })
//        const out = await res.json()
//        console.log(out)
// }
</script>
    
    


